<!DOCTYPE html>
<html>
    <head>
    <title>Ghar Khareedo_Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="../styles/index-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".carousel").carousel();
      });
    </script>    
        
    </head>
    <body>
      <header>
           <img src="../images/logo.png" name="Logo" alt="Ghar Khareedo Logo" style="width:215px;height:92px;object-fit:cover;object-position:50% 50%">          					 
      </header>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Ghar Khareedo</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="About_Us.html">About Us</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="DropdownService1.html">Construction and Design</a>
                <a class="dropdown-item" href="DropdownService2.html">Real Estate Consultancy</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>            <li><a href="Customer_Feedback.html">Customer Feedback</a></li>
            <li><a href="Contact_Us.html">Contact Us</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" name="search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </nav>
      <br>
      <div class="top_header"> <marquee> <b> WE HELP YOU LIVE IN YOUR DREAMS </b> </marquee> </div>	

      <div class="container">
        <h2></h2>  
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="../images/Slide1- Luxury.jpg" name="Luxury" alt="Luxury" style="width:100%;">
              <div class="carousel-caption">
                <h5>We design Luxury and Comfort</h5>
                <p>Find a home you desire</p>
              </div>
            </div>
      
            <div class="item">
              <img src="../images/Slide 2- Minimalistic.jpg" name="Minimalistic" alt="Minimalistic" style="width:100%;">
              <div class="carousel-caption">
                <h5>Small, Minimalistic and Modern Designs</h5>
                <p>Don't worry about small spaces anymore!  Just live your dream!</p>
              </div>
            </div>
          
            <div class="item">
              <img src="../images/Slide 3- 3D.jpg" name="3D" alt="3D" style="width:100%;">
              <div class="carousel-caption">
                <h5>View Your Own Design</h5>
                <p>Come and share your ideas, we'll show you a 3D plan</p>
              </div>
            </div>

            <div class="item">
              <img src="../images/Slide 4- Interior.jpg" name="Interior" alt="Interior" style="width:100%;">
              <div class="carousel-caption">
                <h5>We Make Your Home Cozy and Attractive</h5>
                <p>Ghar Khareedo provides an attractive internal layout</p>
              </div>
            </div>

            <div class="item">
              <img src="../images/Slide 5- Where to invest.jpg" name="Where to invest" alt="Where to invest" style="width:100%;">
              <div class="carousel-caption">
                <h5>Real Estate Investment Solutions</h5>
                <p>We suggest the best opportunities for Investment</p>
              </div>  
            </div>

            <div class="item">
              <img src="../images/Slide 6- Schemes.jpg" name="New Schemes" alt="New Schemes" style="width:100%;">
              <div class="carousel-caption">
                <h5>New Schemes for Investment</h5>
                <p>5 Marla, 7 Marla, 10 Marla and 1 Kanal Plots</p>
              </div>  
            </div>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
       <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><span><img src="../images/logo.png" alt="Ghar Khareedo Logo" style="width:215px;height:92px;object-fit:cover;object-position:50% 50%">          					 
            </span></h3>
            <p>
              7451 Phase-1, Wapda Town,<br>
              Multan, Pakistan<br>
              <strong>Phone:</strong> +92 300 9163881<br>
              <strong>Email:</strong> gharkhareedo@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="About_Us.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Our_Services.html">Our Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Customer_Feedback.html">Customer Feedback</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Contact_Us.html">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Construction and Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Real Estate Consultancy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/ApnaGharKhareedo" class="facebook"><i class="fa fa-facebook"></i>
              <a href="https://www.instagram.com/gharkhareedo/" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Ghar Khareedo</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->

    </body>
  </html>
      
 




		
    